<table>
  <col width="100%"/>
  <tr>
    <td>
      Matters you are supervising
      <div class="select_box_wrapper" style="margin-top: 4px; background-color: lightgreen; ">
        <span style="font-weight: bold">Your clients</span>

        <div class="select_box_list">
        </div>
      </div>

    </td>
  </tr>
  <tr>
    <td>
      Message forums
      <div class="select_box_wrapper" style="margin-top: 4px; background-color: yellow; ">
        <span style="font-weight: bold">Your clients</span>

        <div class="select_box_list">
        </div>
      </div>

    </td>
  </tr>
</table>
