<table>
  <col width="20%"" />
  <col width="80%"" />
  <tr>
    <td></td>
    <td>
      <div class="heading1">Welcome to Law OnTime
      <br/>

      <div style="margin-top: 30px">
        Please click below here to move you your forum
      </div>

      </div>

      <button class="large_button" style="margin-top: 30px" onclick="window.open('<%= tasks_message_forum_path(@task)%>', 'MsgWindow', 'width=400,height=500,left=400,top=100,location=0,status=0,titlebar=0,toolbar=0,menu=0');" >Message forum</bu
    </td>
  </tr>
</table>
