<table style="text-align: center;">
  <col width=20%>
  <col width=80%>
<tr>
  <td style="align: center">
    <%= image_tag("warning.gif") %>
    </td>
    <td style="font-family: Arial; font-size: 40pt;  font-weight: bold; vertical-align: middle; text-align: left">
      You do not have access to that page!
    </td>
  </tr>
</table>
