<table>
  <col width="20%"/>
  <col width="40%"/>
  <col width="40%"/>
  <tr>
    <td></td>
    <td class="message" ><br/>This invitation has already been completed.  Please check with the administrator.<br/><br/><br/>
    <%= button_to "Home page" , root_path , { method: :get, class: "small_user" } %><br/><br/><br/>

    <button class="small_user", onclick="alert('test');window.close();">Close</button>
    
    </td>
    <td>
    </td>


  </tr>


</table>
