<head>
  <style>
    .border1 {vertical-align: top; border-style: dashed;     border-color: black; border-width: 3px; border-collapse: collapse}
  </style>

</head>
<body style="height: 50%; width: 100%;">
<div class="border1" style="position: absolute; width: 70%; height: 70%">
Hi

</div>
</body>