<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reminder_schedule.name %>
</p>

<%= link_to 'Edit', edit_reminder_schedule_path(@reminder_schedule) %> |
<%= link_to 'Back', reminder_schedules_path %>
