/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body { padding: 0px; }

 .box{
   border-style: solid;
   border-width: 6px;
   border-radius: 6px;
   padding: 6px
 }

 .select_box {
   style: box;
   background: #f0f0f0;
   border-color: #101010;
 }

 .entry_box {
   style: box;
   background: #e0e0e0;
   border-color: yellow;
 }

 .select_box_wrapper, .right_box {
   height: 184px;
   background: #f0f0f0;
   border-color: #606060;
   border-style: solid;
   border-width: 6px;
   border-radius: 10px;
   padding: 6px;
   font-family: Arial;
   font-size: 11pt;
 }

 .select_box_list {
   height: 140px;
   overflow-y: scroll;
 }

 .page_heading {
   color: #707070;
   font-size: 28pt;
   font-weight: bold;

 }

 .heading1 {

   font-size: 28pt;
   font-weight: bold;

 }

 .heading2 {
   font-weight: bold;
 }



 table {
   width: 100%;
 }

 td {
   vertical-align: top;
 }

 .solid_borders {
   border: 1px solid black;
 }

 .user {
   border-style: solid;
   border-width: 8px;
   border-radius: 16px;
   border-color: yellow;
   font-size: 20pt;
   padding: 10px;
   width: 400px;
   margin-top: 4px;
 }
 .user_text{
   font-size: 20pt;
   font-weight: bold;
   padding-top: 24px;
 }


 .message {
   width: 200px;
   background: #f0f0f0;
   border-color: #606060;
   border-style: solid;
   border-width: 6px;
   border-radius: 10px;
   padding: 3px;
   font-family: Arial;
   font-size: 11pt;
   margin-bottom: 10px;
 }

 .message_content {
   width: 194px;
   background: #e0ffff;
   border-color: #808080;
   border-style: solid;
   border-width: 1px;
   border-radius: 3px;
   padding: 2px;
   font-family: Arial;
   font-size: 11pt;
 }

 .large_button{
   border-style: solid;
   border-width: 5px;
   border-radius: 10px;
   border-color: yellow;
   font-size: 12pt;
   padding: 6px;
   width: 160px;
   margin-top: 3px;
 }

 .small_button{
   border-style: solid;
   border-width: 2px;
   border-radius: 4px;
   border-color: yellow;
   font-size: 10pt;
   padding: 2px;
   padding-left: 10px;
   padding-right: 10px;
   width: auto;
   margin-top: 0px;
 }

 .messages_button{
   border-style: solid;
   border-width: 2px;
   border-radius: 4px;
   border-color: yellow;
   font-size: 10pt;
   padding: 2px;
   padding-left: 3px;
   padding-right: 3px;
   width: auto;
   margin-top: 2px;
   margin-left: 2px;
   margin-right: 2px;
 }

/* action table cell for check boxes */
.action_cbs {
  vertical-align: middle;
  text-align: center;
}

/* action user table */
.action_ut {
  margin-top: 2px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color:#f0f0f0;
}

.act_outline {
  width: 194px;
  border-color: #808080;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 2px;
}


.input {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: darkblue;
  font-size: 10pt;
  padding: 2px;

}

/* Dropdown Button */

.dropbtn {
  font-family: Arial;
  font-size: 11pt;
  color: black;
  border: none;
  background-color: lightblue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  font-family: Arial;
  font-size: 11pt;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  display: none;
  position: absolute;
  padding: 2px;
  background-color: lightblue;
  // background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
