// Place all the styles related to the myusers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { padding: 0px; }

.box{
  border-style: solid;
  border-width: 6px;
  border-radius: 6px;
  padding: 6px
}

.select_box {
  style: box;
  background: #f0f0f0;
  border-color: #101010;
}

.entry_box {
  style: box;
  background: #e0e0e0;
  border-color: yellow;
}

.select_box_wrapper, .right_box {
  height: 184px;
  background: #f0f0f0;
  border-color: #606060;
  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
  padding: 6px;
  font-family: Arial;
  font-size: 11pt;
}

.select_box_list {
  height: 140px;

  overflow-y: scroll;
}

.page_heading {
  color: #707070;
  font-size: 28pt;
  font-weight: bold;

}

.heading1 {

  font-size: 28pt;
  font-weight: bold;

}

.heading2 {
  font-weight: bold;
}



table {
  width: 100%;
}

td {
  vertical-align: top;
}

.solid_borders {
  border: 1px solid black;
}